<!-- Section: Grey background -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-4 mb-md-0 d-none d-lg-block">
        <!-- Section: Intro -->
        <section class="mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mt-1 mb-4"><strong>Instrucciones de prueba</strong></h5>

              <ul class="list-unstyled text-muted">
                <li><i class="fas fa-globe fa-fw me-3 mb-3"></i>Da click en una transacción para editar o eliminar</li>
              </ul>

              <button type="button" class="btn btn-light bg-light btn-block mb-4" data-mdb-ripple-color="dark">
                Agregar nueva transacción
              </button>
            </div>
          </div>
        </section>
        <!-- Section: Intro -->
      </div>

      <div class="col-md-7 mb-4 mb-md-0">
        <!-- Section: Photos -->
        <section class="mb-4">
          <div class="card">
            <div class="card-body">
              <a href="" class="text-reset d-inline-block">
                <h5 class="card-title mt-1 mb-4">
                  <strong>Inversiones</strong>
                </h5>
              </a>

              <div class="card shadow-0 border text-center" style="margin-bottom: 2rem;">
                <ul class="stepper" data-mdb-stepper="stepper" data-mdb-stepper-type="mobile">
                  <li class="stepper-step stepper-active bg-dark">
                    <div class="stepper-head">
                      <span class="stepper-head-icon"> 1 </span>
                      <span class="stepper-head-text"> paso1 </span>
                    </div>
                    <div class="stepper-content py-3">
                      <p>Tu dinero al tenerlo guardado en físico o en tu cuenta bancaria pierde valor con el tiempo
                        debido a la inflación o devaluación frente al dólar. Por ejemplo si en enero con 100 pesos
                        comprabas 100 chicles lo más seguro es que al final del año por los mismos 100 pesos ahora solo
                        puedas comprar 95 chicles.
                        Hay una forma de resolverlo y se llama inversión.</p>
                      <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/vlDzYIIOYmM" title="YouTube video"
                          allowfullscreen></iframe>
                      </div>
                    </div>
                  </li>
                  <li class="stepper-step">
                    <div class="stepper-head">
                      <span class="stepper-head-icon"> 2 </span>
                      <span class="stepper-head-text"> step2 </span>
                    </div>
                    <div class="stepper-content py-3">
                      <p>Invertir con BBVA es rápido, muy sencillo y en la mayoría de los casos no tiene algún costo, en
                        5
                        minutos aproximadamente tendrás tu primera inversión, nosotros te llevamos de la mano.</p>
                      <img src="https://mdbootstrap.com/img/new/standard/city/047.jpg" class="img-fluid rounded"
                        alt="" />
                    </div>
                  </li>
                  <li class="stepper-step">
                    <div class="stepper-head">
                      <span class="stepper-head-icon"> 3 </span>
                      <span class="stepper-head-text"> step3 </span>
                    </div>
                    <div class="stepper-content py-3">
                      <p>Empieza a invertir con BBVA en un dos por tres y empieza generar dinero desde el primer día.
                      </p>
                      <a href="/investments">
                      <button type="button" class="btn btn-success mb-4" data-mdb-ripple-color="dark">Empezar a
                        invertir</button>
                      </a>
                      <a href="/">
                      <button type="button" class="btn btn-warning mb-4" data-mdb-ripple-color="dark">Después, volver al
                        menú principal</button>
                        </a>
                      <lottie-player src="https://assets3.lottiefiles.com/private_files/lf30_tcuqw7ib.json"
                        background="transparent" speed="1" style="width: auot; height: 200px;" loop autoplay>
                      </lottie-player>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <!-- Section: Photos -->
      </div>
    </div>
  </div>
</section>
<!-- Section: Grey background -->
<style>
  .bg-light {
    background-color: #004680 !important;
  }

  .btn-light {
    color: #ffffff;
    background-color: #fbfbfb;
  }

  .stepper {
    min-height: 65vh;
  }
</style>