<div class="container">
  <!-- Section: Images -->
  <section class="mb-5">
    <div class="bg-image rounded-bottom shadow-1-strong" style="
              background-image: url('https://mdbootstrap.com/img/new/slides/297.jpg');
              height: 150px;
            "></div>

    <div class="d-flex justify-content-center">
      <img src="https://mdbootstrap.com/img/new/avatars/18.jpg" class="rounded-circle shadow-3-strong position-absolute"
        alt="" style="width: 168px; margin-top: -140px" />
    </div>
  </section>
  <!-- Section: Images -->

  <!-- Section: User data -->
  <section class="text-center border-bottom">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6">
        <h2><strong>USERNAME</strong></h2>
        <p class="text-muted">
          Esta pantalla simula la página principal de la App se BBVA o cualquier plataforma de BBVA
        </p>
        <p class="text-muted">
          <strong class="text-info">Accesos directos:</strong>
        </p>
        <div class="">
          <a href="/transactions" target="_blank">
            <button type="button" class="btn btn-light bg-light px-3 me-2 border-bottom" data-mdb-ripple-color="dark">
              <i class="fas fa-chart-line me-2"></i>Simulador de transacciones en cuenta corriente
            </button>
          </a>
        </div>
        <small>se abre en otra pestaña</small>
        <br>
        <div class="">
          <a href="/" target="_blank">
            <button type="button" class="btn btn-light bg-light px-3 me-2 border-bottom" data-mdb-ripple-color="dark">
              <i class="fas fa-chart-line me-2"></i>Simulador de pago de rendimientos
            </button>
          </a>
        </div>
        <small>se abre en otra pestaña</small>
        <hr>
        <div class="">
          <a href="/investments/welcome-investments">
            <button type="button" class="btn btn-light bg-light px-3 me-2 border-bottom" data-mdb-ripple-color="dark">
              Plataforma de inversiones <span class="badge bg-danger ms-2">9</span>
              <span class="visually-hidden">unread messages</span>
            </button>
          </a>
        </div>
        <small>sigue en esta pestaña simulando un flujo de verdad</small>
        <hr>
        <div class="d-lg-flex text-center justify-content-center">
          
          {{#if user}}
          <a href="/users/logout">
            <button type="button" class="btn btn-outline-light px-3 me-2" data-mdb-ripple-color="dark">
              Cerrar sesión
            </button>
          </a>
          {{else}}
          <a href="/users/signup">
            <button type="button" class="btn btn-outline-light px-3 me-2" data-mdb-ripple-color="dark">
              Crear cuenta
            </button>
          </a>
          <a href="/users/signin">
            <button type="button" class="btn btn-outline-light px-3 me-2" data-mdb-ripple-color="dark">
              Iniciar sesión
            </button>
          </a>
          {{/if}}
        </div>
        <small>Simulador de administración de cuentas</small>
        <br>
      </div>
    </div>
  </section>
  <!-- Section: User data -->
</div>