<div class="container">
  <!-- Section: Images -->
  <section class="mb-5">
    <div class="bg-image rounded-bottom shadow-1-strong" style="
              background-image: url('https://mdbootstrap.com/img/new/slides/297.jpg');
              height: 150px;
            "></div>

    <div class="d-flex justify-content-center">
      <img src="https://mdbootstrap.com/img/new/avatars/18.jpg" class="rounded-circle shadow-3-strong position-absolute"
        alt="" style="width: 168px; margin-top: -140px" />
    </div>
  </section>
  <!-- Section: Images -->

  <!-- Section: User data -->
  <section class="text-center border-bottom">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6">
        <h2><strong>USERNAME</strong></h2>
        <p class="text-muted">
          Durante Octubre tus inversiones han generado: <strong class="text-success"><i class="fas fa-arrow-up"></i> 100.00 MXN</strong>
        </p>
        <p class="text-muted">
          Ganancias mes pasado: <strong class="text-info">100.00 MXN</strong>
        </p>
        <div class="d-none d-lg-block">
          <button type="button" class="btn btn-light bg-light px-3 me-2 border-bottom" data-mdb-ripple-color="dark">
            <i class="fas fa-chart-line me-2"></i>Ver más detalles
          </button>
        </div>
        <br>
      </div>
    </div>
  </section>
  <!-- Section: User data -->

  <!-- Section: Buttons -->
  <section class="d-flex justify-content-between align-items-center py-3">
    <!-- Left -->
    <div>
      <button type="button" class="btn btn-link btn-lg bg-light px-3" data-mdb-ripple-color="dark">
        Posts
      </button>
      <button type="button" class="btn btn-link btn-lg text-reset px-3" data-mdb-ripple-color="dark">
        About
      </button>
      <button type="button" class="btn btn-link btn-lg text-reset px-3" data-mdb-ripple-color="dark">
        Friends <small class="text-muted">1456</small>
      </button>
      <button type="button" class="btn btn-link btn-lg text-reset px-3" data-mdb-ripple-color="dark">
        Photos
      </button>

      <div class="dropdown d-inline-block">
        <button class="btn btn-link btn-lg text-reset dropdown-toggle px-3" data-mdb-ripple-color="dark" type="button"
          id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
          More
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Videos</a></li>
          <li><a class="dropdown-item" href="#">Sports</a></li>
          <li><a class="dropdown-item" href="#">Music</a></li>
          <li><a class="dropdown-item" href="#">Groups</a></li>
        </ul>
      </div>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="d-none d-lg-block">
      <button type="button" class="btn btn-light bg-light px-3 me-2 border-bottom" data-mdb-ripple-color="dark">
        <i class="fas fa-edit me-2"></i>Edit profile
      </button>
      <button type="button" class="btn btn-light bg-light px-3 me-2" data-mdb-ripple-color="dark">
        <i class="fas fa-eye"></i>
      </button>
      <button type="button" class="btn btn-light bg-light px-3 me-2" data-mdb-ripple-color="dark">
        <i class="fas fa-search"></i>
      </button>
      <button type="button" class="btn btn-light bg-light px-3 me-2" data-mdb-ripple-color="dark">
        <i class="fas fa-ellipsis-h"></i>
      </button>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Buttons -->
</div>

<div class="container pt-5">
  <div class="d-flex justify-content-left">
    <div class="text-left" style="max-width: 700px">
      <h2 class="fw-bold mb-4">Populares</h2>
    </div>
  </div>
  <div class="scrolling-wrapper">
    <div class="scrolling-card ms-2 me-2">
      <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
        class="card-img-top card-img-bottom object-fit-contain" alt="..." />
      <div class="card-body">
        <h5 class="card-title text-truncate">Verdad o reto</h5>
        <p class="card-text">Here goes the very long description. Here goes the
          very long description.</p>
        <a href="#!" class="btn btn-primary">Jugar</a>
      </div>
    </div>
    <div class="scrolling-card ms-2 me-2">
      <img src="https://mdbootstrap.com/img/Photos/Vertical/4.jpg"
        class="card-img-top card-img-bottom object-fit-contain" alt="..." />
      <div class="card-body">
        <h5 class="card-title">¿Qué prefieres?</h5>
        <p class="card-text">Here goes the description.</p>
        <a href="#!" class="btn btn-primary">Jugar</a>
      </div>
    </div>
    <div class="scrolling-card ms-2 me-2">
      <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
        class="card-img-top card-img-bottom object-fit-contain" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Here goes the description.</p>
        <a href="#!" class="btn btn-primary">Jugar</a>
      </div>
    </div>
    <div class="scrolling-card ms-2 me-2">
      <img src="https://mdbootstrap.com/img/Photos/Vertical/4.jpg"
        class="card-img-top card-img-bottom object-fit-contain" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Here goes the description.</p>
        <a href="#!" class="btn btn-primary">Jugar</a>
      </div>
    </div>
    <div class="scrolling-card ms-2 me-2">
      <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
        class="card-img-top card-img-bottom object-fit-contain" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Here goes the description.</p>
        <a href="#!" class="btn btn-primary">Jugar</a>
      </div>
    </div>
    <div class="scrolling-card ms-2 me-2">
      <img src="https://mdbootstrap.com/img/Photos/Vertical/4.jpg"
        class="card-img-top card-img-bottom object-fit-contain" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Here goes the description.</p>
        <a href="#!" class="btn btn-primary">Button</a>
      </div>
    </div>
    <div class="scrolling-card ms-2 me-2">
      <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
        class="card-img-top card-img-bottom object-fit-contain" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Here goes the description.</p>
        <a href="#!" class="btn btn-primary">Jugar</a>
      </div>
    </div>
    <div class="scrolling-card ms-2 me-2">
      <img src="https://mdbootstrap.com/img/Photos/Vertical/4.jpg"
        class="card-img-top card-img-bottom object-fit-contain" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Here goes the description.</p>
        <a href="#!" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
</div>
<!-- START BANNERS -->
<div class="container pt-5 d-none d-md-block">
  <div class="d-flex justify-content-left">
    <div class="text-left" style="max-width: 700px">
      <h2 class="fw-bold mb-4">Últimos lanzamientos</h2>
    </div>
  </div>
  <div class="scrolling-wrapper">
    <div class="scrolling-card-banner ms-2 me-2">
      <a href="#!" class="">
        <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
          class="card-img-top card-img-bottom object-fit-contain-card-banner" alt="..." />
      </a>
    </div>
    <div class="scrolling-card-banner ms-2 me-2">
      <a href="#!" class="">
        <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
          class="card-img-top card-img-bottom object-fit-contain-card-banner" alt="..." />
      </a>
    </div>
    <div class="scrolling-card-banner ms-2 me-2">
      <a href="#!" class="">
        <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
          class="card-img-top card-img-bottom object-fit-contain-card-banner" alt="..." />
      </a>
    </div>
  </div>
</div>

<div class="container pt-5 d-md-none">
  <div class="d-flex justify-content-left">
    <div class="text-left" style="max-width: 700px">
      <h2 class="fw-bold mb-4">Últimos lanzamientos</h2>
    </div>
  </div>
  <div class="my-4">
    <a href="#!" class="ripple">
      <img src="https://mdbootstrap.com/img/new/slides/041.jpg" class="img-fluid rounded hover-shadow" alt="..." />
    </a>
  </div>
  <div class="my-4">
    <a href="#!" class="ripple">
      <img src="https://mdbootstrap.com/img/new/slides/041.jpg" class="img-fluid rounded hover-shadow" alt="..." />
    </a>
  </div>
  <div class="my-4">
    <a href="#!" class="ripple">
      <img src="https://mdbootstrap.com/img/new/slides/041.jpg" class="img-fluid rounded hover-shadow" alt="..." />
    </a>
  </div>
</div>
<!-- END BANNERS -->