<!--Main Navigation-->
<div class="bottom-navbar">
  <div class="d-flex text-center align-items-center mb-3" style="height: 60px;">
    <div class="col">
      <a
        class="nav-link active d-flex flex-column text-center"
        aria-current="page"
        href="#"
      ><i class="fas fa-home fa-lg"></i><span class="small">Home</span></a>
    </div>
    <div class="col">
      <a
        class="nav-link active d-flex flex-column text-center"
        aria-current="page"
        href="#"
      ><i class="fas fa-home fa-lg"></i><span class="small">Juegos</span></a>
    </div>
    <div class="col">
      <a
        class="nav-link active d-flex flex-column text-center"
        aria-current="page"
        href="#"
      ><i class="fas fa-home fa-lg"></i><span class="small">Bebidas</span></a>
    </div>
    <div class="col">
      <a
        class="nav-link active d-flex flex-column text-center"
        aria-current="page"
        href="#"
      ><i class="fas fa-home fa-lg"></i><span class="small">Perfil</span></a>
    </div>
  </div>
</div>
<!--END Main Navigation-->